.jargonelle.canvas
    
    .track
        position: relative
        width: inherit
        height: inherit

        .selection-container
            position: absolute
            transform: translate(-50%, -50%)
            pointer-events: none