
.jargonelle.color-picker2
    
    // .background
    // background: linear-gradient(to top, #444 5%, #000 25%)
        
    // border-radius: 2px
    // border: 1px solid #555
    width: 300px;
    height: 400px;
    
    .saturation-value
        width: 250px
        height: 200px
        cursor: pointer
        
    .slider.horizontal
        width: 250px
        height: 20px
        cursor: pointer
        
    .slider.vertical
        width: 15px
        height: 300px
        cursor: pointer
        
    .content
        background: linear-gradient(to top, #444 5%, #000 25%)
        width: 300px;
        height: inherit;
        
    /* slider and canvas backgrounds */
        
    .canvas .track
        background-image: linear-gradient(
            0deg, 
            rgba(0,0,0,1) 0%,
            rgba(0,0,0,0) 100%
        ),
        linear-gradient(
            90deg, 
            rgba(255,255,255,1) 0%, 
            rgba(255,255,255,0) 100%
        );

    .slider.hue .track
        background-image: linear-gradient(
            180deg, 
            #FF0000,
            #FFFF00,
            #00FF00,
            #00FFFF,
            #0000FF,
            #FF00FF,
            #FF0000
        );

    .slider.alpha 
        background-image: linear-gradient(
            45deg, 
            #AAA 25%, 
            transparent 25%
        ), 
        linear-gradient(
            -45deg, 
            #AAA 25%, 
            transparent 25%
        ),
        linear-gradient(
            45deg, 
            transparent 75%, 
            #AAA 75%
        ), 
        linear-gradient(
            -45deg, 
            transparent 75%, 
            #AAA 75%
        );
        background-size: 12px 12px;
        background-position: 0 0, 0 6px, 6px -6px, -6px 0px;
        
        .track
            background-image: linear-gradient(
                -90deg, 
                rgba(0,0,0,1) 0%,
                rgba(0,0,0,0) 100%
            );
            
    .slider.vertical
        .triangle-thumb
            width: 10px;
            height: 16px;
            
        polygon
            fill: #000
            stroke: #AAA
            stroke-width: 1
            transition: stroke 0.1s ease-out, stroke-width 0.1s ease-out;
        
        &.dragging,
        &:hover 
            polygon
                stroke: #FFF
                stroke-width: 1.1