.color-matrix
    user-select: none
    position: relative

    canvas
        user-select: none
        display: block

    .selection-container
        top: 0
        left: 0
        position: absolute
        pointer-events: none
        transform: translate(-50%, -50%)