
.color-picker 
    position: relative
    width: 210px
    height: 400px
    background-color: #000

    .hue
        position: absolute
        top: 0
        left: 5px

    .grayScale
        position: absolute
        top: 0
        left: 10px

        .selection
            width: 12px
            height: 12px
            border: 2px solid white
            border-radius: 50%