/*
@font-face
    font-family: basic
    src: url(fonts/Roboto-Medium.ttf)

@font-face 
    font-family: basic
    src: url(fonts/Roboto-Bold.ttf)
    font-weight: bold
*/

// @font-face
//     font-family: basic
//     src: url(fonts/modenine.ttf)

.jargonelle
    
    div
        margin: 0
        padding: 0
        // font-family: basic

    // input
    //     font-family: basic

    input:focus, textarea:focus
        outline: none
