
.gradient-grid

    position: relative

    .grid
        position: relative
        background-color: #ff0000

        .selection-container
            top: 0
            left: 0
            position: absolute
            pointer-events: none
            transform: translate(-50%, -50%)

        .selection
            width: 12px
            height: 12px
            border: 1px solid #AAA
            border-radius: 50%
            transition: all 0.1s ease-out

.gradient-picker-grid

    .selection

        width: 12px
        height: 12px
        border: 1px solid #AAA
        border-radius: 50%
        transition: all 0.1s ease-out