
.snap-drag-grid
    
    .content
        position: relative
        width: inherit
        height: inherit
        user-select: none

    .lines
        position: absolute
        width: inherit
        height: inherit
        // lines are divs with borders. shift to correct position
        top: -1px
        left: -1px

        .xline
            position: absolute
            border-left: 1px dotted rgba(255, 255, 255, 0.7)
            border-right: 1px dotted rgba(200, 200, 200, 0.7)
            width: 0
            height: inherit

        .yline
            position: absolute
            border-top: 1px dotted rgba(255, 255, 255, 0.7)
            border-bottom: 1px dotted rgba(200, 200, 200, 0.7)
            width: inherit
            height: 0

    .points
        position: absolute
        width: inherit
        height: inherit

    .selection-container
        top: 0
        left: 0
        position: absolute
        transform: translate(-50%, -50%)

        .selection
            width: 12px
            height: 12px
            border: 1px solid #AAA
            border-radius: 50%
            transition: all 0.1s ease-out

        &.dragging,
        &:hover

            .selection
                width: 18px
                height: 18px
                border: 3px solid #FFF
                border-radius: 50%